*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container_p{
    display: grid;
    justify-content: center;
    margin-top: 10%;
}

.tela_log{
    width: 500px;
    height: 350px;
    border: 1px solid black;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    margin-bottom: 25px;
}